.title {
  color : red;
  font-size: 3em;
  margin-left: 45%;
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-custom01 {
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
  margin: 30px 60px;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #ccc100;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  /* todo:c++とpythonのアイコンで置き換える */
  /* content: "\f0e0"; */
}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: #fff100;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

a.btn-custom01:hover {
  -webkit-transform: translate(0, 0.25rem);
  transform: translate(0, 0.25rem);
  background: #fff100;
}

a.btn-custom01:hover:before {
  -webkit-transform: translate3d(0, 0.5rem, -1rem);
  transform: translate3d(0, 0.5rem, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
  /* todo:言語アイコンで置き換える */
  /* content: "\f2b6"; */
}

a.btn-custom01:active {
  -webkit-transform: translate(0rem, 0.75rem);
  transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
  -webkit-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
  /* todo:言語アイコンで置き換える */
  /* content: "\f2b6"; */
}


/* パッケージ名入力用プロンプト */
/* body {
  background: #eee;
} */

#pkg_name_dialog {
  display: none;
  z-index: 1;
  position: absolute;
  top: 31%;
  left: 11%;
}
.card {
  margin: 30px auto;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card_content {
  padding: 20px;
}
.card_title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card_text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.card_link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card_link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
  font-size: 2em;
}
.card_link a:hover {
  color: #0090aa;
}
#card_input {
  text-align: center;
  margin: 15px 0 0 25px;
  border:0;
  padding:5px;
  font-size:2em;
  font-family:Arial, sans-serif;
  border:solid 1px #ccc;
  width:200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/* grid layout */
.wrapper {
  display: grid;
  grid-template-rows: 50% 1fr;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
  "system_1 system_2"
  "system_3 system_4";
  width: 100%;
  height: 600px;
}

.system_1 {
  grid-area: system_1;
}

.system_2 {
  grid-area: system_2;
}

.system_3 {
  grid-area: system_3;
}

.system_4 {
  grid-area: system_4;
}


/* sub_tilte */
/* https://jajaaan.co.jp/css/css-headline/ */
.sub_title_1, .sub_title_2, .sub_title_3, .sub_title_4 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  font-size: large;
}

.sub_title_1:before, .sub_title_2:before, .sub_title_3:before, .sub_title_4:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}

.sub_title_1 {
  background: #fff100;
}

.sub_title_2 {
  background: #00ff00;
}

.sub_title_3 {
  background: #00c3ff;
}

.sub_title_4 {
  background: #ff0000;
}